.background {
    background-color: #E00026;
    color: #004BC2;
    padding: 10px;
}

.hamburger {
    cursor: pointer;
    z-index: 3;
}

.connection-error {
    color: darkorange;
}

.connection-warning {
    color: yellow;
}

.connection-ok {
    color: green;
}
