/* Master Styles */
body.app {
  overflow:hidden; /* hide scroll-bar's */
  height: 100%;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.fill { 
    min-height: 100%;
}

.background-success {
  background-color: #d6e9c6;
}

.background-info {
  background-color: #d9edf7;  
}

.background-warning {
  background-color: #fcf8e3;  
}

.background-danger {
  background-color: #f2dede;
}
