<!-- input styling according to http://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
        <h4>Kies een gebruikersnaam</h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-3">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-user"></i>
            <input type="text" class="form-control" [(ngModel)]="userName" />
        </div>
    </div>
    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-3">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
        <button class="btn btn-info"    (click)="setName()">Set name</button>
        <button class="btn btn-warning" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
