<div *ngIf="null !== data" class="simple-button"> <!-- NULL-check required for bootstrapping -->
    <div *ngFor="let team of data.teams | simpleButtonActiveFilter; let i = index" class="alert background" [class.simple-button-success]="i == 0" [class.simple-button-warning]="i != 0">
        <table>
            <tr>
                <td>
                    <img src="img/good.gif"  height="35px" *ngIf="team.good"                  />
                    <img src="img/wrong.gif" height="35px" *ngIf="team.wrong"                 />
                    <img src="img/go.gif"    height="35px" *ngIf="(!team.good) && (!team.wrong) && (team.active) && (i === 0)" />
                    <img src="img/wait.gif"  height="35px" *ngIf="(!team.good) && (!team.wrong) && (team.active) && (i !== 0)" />
                </td>
                <td>
                    <b>{{team.name}}</b><br />
                    <span *ngFor="let member of team.members; let j = index"><span *ngIf="0 != j">, </span>{{member}}</span><br />
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- ensure images are always in the DOM to avoid loading them over and over again
     (wich seems to be happening in FireFox otherwise)
     -->
<div class="preload">
    <img src="img/good.gif"    />
    <img src="img/wrong.png"   />
    <img src="img/go.gif"      />
    <img src="img/wait.gif"    />
</div>    
