<div *ngIf="null !== data" class="simple-button"> <!-- NULL-check required for bootstrapping -->
    <div *ngFor="let team of data.teams | simpleButtonActiveFilter; let i = index" class="alert background" [class.simple-button-good]="team.good" [class.simple-button-wrong]="team.wrong" [class.simple-button-go]="team.go" [class.simple-button-wait]="team.wait">
        <table>
            <tr>
                <td>
                    <img [src]="imgGood"  height="35" *ngIf="team.good"  alt="" />
                    <img [src]="imgWrong" height="35" *ngIf="team.wrong" alt="" />
                    <img [src]="imgGo"    height="35" *ngIf="team.go"    alt="" />
                    <img [src]="imgWait"  height="35" *ngIf="team.wait"  alt="" />
                </td>
                <td>
                    <b>{{team.name}}</b><br />
                    <span *ngFor="let member of team.members; let j = index"><span *ngIf="0 != j">, </span>{{member}}</span><br />
                </td>
            </tr>
        </table>
    </div>
</div>
