<div class="container-fuid">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center"><b><u>Management</u></b></h3>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="onClickReset()">Reset</button>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-1">
          <!-- <button type="button" class="btn btn-info"   (click)="onClickArm()"  >Arm  </button> -->
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="row alert alert-warning" *ngIf="0 != teamNameEvaluate.length">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="onClickEvaluateBad()">Bad</button>
        </div>
        <div class="col-md-8 text-center">
          {{teamNameEvaluate}}
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-success" (click)="onClickEvaluateGood()">Good</button>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center"><b><u>Beamer</u></b></h3>
      <simple-button></simple-button>
    </div>
    <div class="col-md-4">
      <h3 class="text-center"><b><u>Teams</u></b></h3>
      <team-info-list [teamsInfo]="observableTeamInfoNone | async" [teamsInfoAll]="observableTeamInfo | async" [usersInfo]="observableUserInfo | async" [editTeams]="false" [editUsers]="false" [alert]="true" ></team-info-list>
      <team-info-list [teamsInfo]="observableTeamInfo     | async" [teamsInfoAll]="observableTeamInfo | async" [usersInfo]="observableUserInfo | async" [editTeams]="false" [editUsers]="false" [alert]="false"></team-info-list>
    </div>
  </div>
</div>
