<div class="text-center">
    <span *ngIf="prevSequenceNbr === 0">
        <image-local source="loading.gif" height="150"></image-local>
    </span>
    <span *ngIf="prevSequenceNbr !== 0">
        <span *ngIf="modeIsBeamer || modeIsMaster">
            Beamer<br />
            <div class="container-fuid">
                <div class="row">
                    <span *ngFor="let team of observableTeamInfo | async | simpleButtonTeamPointsSort:false">
                        <div class="col-md-4 alert alert-success">
                            <b>{{team.name}}</b>
                            <h2>
                                <span class="label label-primary">
                                    {{team.pointsRound}}
                                </span>
                            </h2>
                        </div>
                    </span>
                </div>
            </div>
        </span>
        <span *ngIf="modeIsQuiz">
            <image-local source="push.gif"  height="150" *ngIf="!wait && !go && !wrong && !good" (click)="onPush()" ></image-local>
            <image-local source="good.gif"  height="150" *ngIf="good"                                               ></image-local>
            <image-local source="wrong.png" height="150" *ngIf="wrong"                                              ></image-local>
            <image-local source="go.gif"    height="150" *ngIf="go"                                                 ></image-local>
            <image-local source="wait.gif"  height="150" *ngIf="wait"                                               ></image-local>
        </span>
        <div class="text-left">
            <simple-button-data [data]="observableInfo | async"></simple-button-data>
        </div>
    </span>
</div>

<!-- ensure images are always in the DOM to avoid loading them over and over again
     (wich seems to be happening in FireFox otherwise)
     -->
<div class="preload">
    <image-local source="loading.gif" ></image-local>
    <image-local source="push.gif"    ></image-local>
    <image-local source="good.gif"    ></image-local>
    <image-local source="wrong.png"   ></image-local>
    <image-local source="go.gif"      ></image-local>
    <image-local source="wait.gif"    ></image-local>
</div>    
