<div class="container-fuid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><b><u>Vragen</u></b></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="elements" class="text-center">
        <div *ngFor="let question of questions; let idx = index" class="row">
          <div class="col-md-2 col-sm-2 col-xs-2">
              Vraag {{idx + 1}}:
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <span
              *ngIf = "'Good-Wrong' === answeringType"
              >
              <button 
                type="button" 
                *ngIf="0 != question.answer.length" 
                class="btn btn-lg"
                [class.btn-success]="modeAnswering" 
                [class.btn-info]="!modeAnswering" 
                [class.question-ok]="   (!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] &&  teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]"
                [class.question-error]="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] && !teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]"
                [disabled]="!modeAnswering" 
                (click)="onClickButtonAnswer(idx, true)" 
                >
                <span class="glyphicon glyphicon-ok"     aria-hidden="true"></span>
                Goed
              </button>
              <button 
                type="button" 
                *ngIf="0 == question.answer.length" 
                class="btn btn-lg"
                [class.btn-danger]="modeAnswering" 
                [class.btn-info]="!modeAnswering" 
                [class.question-ok]="   (!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] &&  teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]"
                [class.question-error]="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] && !teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]"
                [disabled]="!modeAnswering" 
                (click)="onClickButtonAnswer(idx, false)" 
                >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              Fout
              </button>
              <br />
            </span>
            <input-debounce 
              *ngIf = "'Input' === answeringType"
              [classOk]="   (!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] &&  teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]"
              [classError]="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] && !teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]"
              [disabled]="!modeAnswering" 
              [value]="question.answer" 
              (valueEv)="valueChanged(idx, $event)"
              >
            </input-debounce>
            <span 
              *ngIf="(modeAnswering) && (0 != questionsImages.length) && (0 != questionsImages[idx].length)" 
              >
              <image-local [source]="questionsImages[idx]" [height]="200"></image-local>
              <br />
              <br />
            </span>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1">
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="(modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length)">
    <div class="col-md-12">
      <div id="score">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2 text-center">
            <h3>
              <span class="label label-primary">
                Resultaat:
              </span>
            </h3>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <h3>
              <span class="label label-primary">
                {{teamsEvaluations[teamsEvaluationsIdx].nbrCorrect}}/{{teamsEvaluations[teamsEvaluationsIdx].nbrEvaluated}}
              </span>
            </h3>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1">
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
