/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.drag-src {
    opacity: 0.4;
}

.drag-trg {
    opacity: 0.0;
}

.drag-trg-active {
    opacity: 1 !important;
}
