<span *ngIf="isBeamer">
    <sort-images-beamer></sort-images-beamer>
</span>
<span *ngIf="isMaster">
    <sort-images-master></sort-images-master>
</span>
<span *ngIf="isQuiz">
    <sort-images></sort-images>
</span>
