<div class="container">
  <div class="row">
    <div class="col-xs-12 text-xs-center">
        <h4>Configureer</h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8 text-xs-left">
        <div class="form-group" [class.has-success]="wsServerValid" [class.has-danger]="!wsServerValid">
            <label class="form-control-label" for="wsServer">Server</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-signal"></i></div>
                <input type="text" class="form-control" [(ngModel)]="wsServer" required name="wsServer" id="wsServer" (keyup)="onWsServerChanged($event.target.value)" />
            </div>
            <small [hidden]="wsServerValid"  class="form-control-feedback">Ongeldig IP address.</small>
        </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8 text-xs-center">
        <button [disabled]="!wsServerValid" class="btn btn-primary" (click)="onConfigure()">Configureer</button>
        <button                             class="btn btn-warning" (click)="onCancel()">Cancel</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8 text-xs-center">
        <button class="btn btn-danger" (click)="onDefault()">Zet standaard waarden terug</button>
    </div>
  </div>
</div>
