<div *ngIf="null !== data" class="simple-button">
    <div class="text-center">
        <img src="./app/images/push.gif"    (click)="onPush()" height="150" *ngIf="!pushed"/>
        <img src="./app/images/push-in.gif"                    height="150" *ngIf="pushed" />
    </div>
    <div *ngFor="let team of data.teams | simpleButtonActiveFilter; let i = index" class="alert background" [class.alert-success]="i == 0" [class.alert-warning]="i != 0">
        <b>{{team.name}}</b><br />
        <span *ngFor="let member of team.members; let j = index"><span *ngIf="0 != j">, </span>{{member}}</span><br />
    </div>
</div>
<div *ngIf="null === data" class="text-center">
    <img src="./app/images/loading.gif" height="20%"/>
</div>
