<div class="container">
  <div class="row">
      <h5>
        Deze applicatie is gemaakt met open-source software.<br />
        De volledige bron code kan je vinden op https://github.com/ivo1971/olapp/.<br />
        <br />
        De client gebruikt:
        <ul>
          <li>Angular 2</li>
          <li>Bootstrap</li>
          <li>RxJs</li>
          <li>Cordova</li>
        </ul>
        <br />
        De websockets server gebruikt:
        <ul>
          <li>Boost</li>
          <li>Curl</li>
          <li>nlohmann Seasocks</li>
        </ul>
        <br />
        De REST server - gehost op Heroku - gebruikt:
        <ul>
          <li>node js</li>
          <li>npm</li>
        </ul>
        <br />
        Geluidseffecten komen van:
        <ul>
          <li>http://soundbible.com</li>
          <li>https://www.freesoundeffects.com</li>
        </ul>
        <br />
        Tekeningen komen van:
        <ul>
          <li><a href="https://clipartfest.com/">clipartfest.com</a></li>
          <li><a href="https://www.iconfinder.com/">iconfinder.com</a></li>
          <li><a href="http://loading.io/">loading.io</a></li>
        </ul>
        <br />
        Er is gebruik gemaakt van de volgende tools:
        <ul>
          <li>Paint.net</li>
          <li><a href="https://www.base64-image.de/">base64-image.de</a></li>
        </ul>
      </h5>
  </div>  
  <div class="row">
    <div class="col-xs-12 text-center">
        <button class="btn btn-warning" (click)="onBack()">Terug</button>
    </div>
  </div>
</div>   