<div class="container-fuid">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center"><b><u>Management</u></b></h3>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="onClickReset()">Reset</button>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-1">
          <!-- <button type="button" class="btn btn-info"   (click)="onClickArm()"  >Arm  </button> -->
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="row alert alert-warning" *ngFor="let dummy of dummies">
        <i>{{dummy}}</i>
      </div>
      <div class="row alert alert-warning" *ngIf="0 != teamNameEvaluate.length">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="onClickEvaluateBad()">Bad</button>
        </div>
        <div class="col-md-8 text-center">
          {{teamNameEvaluate}}
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-success" (click)="onClickEvaluateGood()">Good</button>
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <h5 class="text-center"><b><u>Configuration</u></b></h5>
      <div class="row">
        <div class="col-md-4">
          Delay (sec):
        </div>
        <div class="col-md-2">
          <input class="form-control" type="text" [(ngModel)]="configDelay">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          Points good:
        </div>
        <div class="col-md-1">
          this
        </div>
        <div class="col-md-2">
          <input class="form-control" type="text" [(ngModel)]="configPointsGoodThis">
        </div>
        <div class="col-md-1">
          other
        </div>
        <div class="col-md-2">
          <input class="form-control" type="text" [(ngModel)]="configPointsGoodOther">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          Points bad:
        </div>
        <div class="col-md-1">
          this
        </div>
        <div class="col-md-2">
          <input class="form-control" type="text" [(ngModel)]="configPointsBadThis">
        </div>
        <div class="col-md-1">
          other
        </div>
        <div class="col-md-2">
          <input class="form-control" type="text" [(ngModel)]="configPointsBadOther">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-info" (click)="onClickConfig()">Update</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center"><b><u>Beamer</u></b></h3>
      <simple-button></simple-button>
    </div>
    <div class="col-md-4">
      <h3 class="text-center"><b><u>Teams</u></b></h3>
      <team-info-list [teamsInfo]="observableTeamInfoNone | async | simpleButtonTeamAlphabeticSort" [teamsInfoAll]="observableTeamInfo | async" [usersInfo]="observableUserInfo | async" [editTeams]="false" [editUsers]="false" [alert]="true" ></team-info-list>
      <team-info-list [teamsInfo]="observableTeamInfo     | async | simpleButtonTeamAlphabeticSort" [teamsInfoAll]="observableTeamInfo | async" [usersInfo]="observableUserInfo | async" [editTeams]="false" [editUsers]="false" [alert]="false"></team-info-list>
    </div>
  </div>
</div>
