<span *ngIf="isBeamer">
    <simple-button></simple-button>
</span>
<span *ngIf="isMaster">
    <simple-button-master></simple-button-master>
</span>
<span *ngIf="isQuiz">
    <simple-button></simple-button>
</span>
