.simple-button {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.background {
    margin: 10px;
}

.simple-button-good {
  color: #3c763d;
  background-color: #efffd8;
  border-color: #e6f9d6;
}

.simple-button-wrong {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.simple-button-go {
  color: #3c763d;
  background-color: #dff0c8;
  border-color: #d6e9c6;
}

.simple-button-wait {
  color: #8a6d3b;
  background-color: #ccd8c3;
  border-color: #ccd8c3;
}
