<div class="container-fuid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center"><b><u>Scorebord master</u></b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center"><b><u>Manage</u></b></h3>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="inlineRadioTotal" id="inlineRadio1TotalTotal" value="total"      checked (click)="onClickRadioTotal(true)" > Totaal
          <input class="form-check-input" type="radio" name="inlineRadioTotal" id="inlineRadioTotalRound"  value="this-round"         (click)="onClickRadioTotal(false)"> Deze ronde
        </label>
      </div>
      <br />
      Punten deze ronde:
      <div class="row" *ngFor="let team of teamInfos | simpleButtonTeamAlphabeticSort">
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 alert alert-success">
          <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
              <b>{{team.name}}</b>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <input class="form-control" type="number" [(ngModel)]="team.tmpPointsRound">
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
      </div>
      <button type="button" class="btn btn-warning" (click)="onClickClear()"            >Clear</button>
      <button type="button" class="btn btn-success" (click)="onClickSetPointsRound()"   >Set round</button>
      <button type="button" class="btn btn-success" (click)="onClickPointsRound2Total()">Round to total</button>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      <h3 class="text-center"><b><u>Beamer</u></b></h3>
      <scoreboard></scoreboard>
    </div>
  </div>
</div>
