<status-bar></status-bar>
<div *ngIf="isQuizMaster">
    <select (change)="onChangeMode($event.target.value)">
        <option value="none">--- please select ---</option>
        <option value="welcome">Welcome</option>
        <option value="test">Test</option>
        <option value="simple-button">Simble button</option>
        <option value="sort-images">Sort images</option>
        <option value="questions">Questions</option>
        <option value="scoreboard">Scoreboard</option>
        <option value="teamfie">Teamfie</option>
        <option value="configure-teams">Configure teams</option>
        <option value="none">---------------</option>
        <option value="simple-button-demo">Simble button demo</option>
    </select> 
    <hr />
</div>
<router-outlet  class=""></router-outlet>
