<div class="container-fuid text-center" *ngIf="modeIsQuiz">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h2>Neem een teamfie</h2>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
                </span>
                <input class="form-control" type="text" [(ngModel)]="teamName" placeholder="kies een team naam"><br />
            </div>
            <br />
            <button type="button" class="btn btn-info" (click)="onClickTakeTeamfie()">Take a teamfie</button><br />
            <br />
            <div *ngIf="imageContentValid">
                <div>
                    <button *ngIf="!sendingFailed && !sendingOk" type="button" class="btn btn-info" [class.disabled]="sending" (click)="onClickSubmit()">
                        <span         *ngIf="!sending">Submit</span>
                        <image-native *ngIf="sending"  source="img/loader.svg" width="16px"></image-native>
                    </button>
                    <button *ngIf="sendingFailed" type="button" class="btn btn-danger">
                        Doorsturen teamfie is mislukt. Probeer opnieuw a.u.b.
                    </button>
                    <button *ngIf="sendingOk" type="button" class="btn btn-success">
                        Doorsturen teamfie is gelukt.
                    </button>
                </div>
                <br />
                <div>
                    <img [src]="'data:image/JPG;base64,'+ imageContent" width='80%'>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="container-fuid text-center" *ngIf="modeIsMaster">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" (change)="onCheckboxCarouselOnBeamer()">
      Carousel on beamer
    </label>
  </div>
</div>
<div class="container-fuid text-center" *ngIf="(modeIsBeamer || modeIsMaster) && (!carouselActive)">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h2>Neem een teamfie en kies een team naam...</h2>
            <image-native source="img/lady-taking-selfie-with-mobile-selfie-clipart_550-360.jpeg" width="100%"></image-native>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<div class="container-fuid text-center" *ngIf="(modeIsBeamer || modeIsMaster) && (carouselActive)">
    <br />
    <span *ngFor="let team of observableTeamInfo | async">
        <div class="row" *ngIf="isTeamActive(team.id)">
            <div class="col-md-1">
            </div>
            <div class="col-md-10 alert alert-info">
                <h3>{{team.name}}</h3>
                <image-teamfie *ngIf="0 != team.imageEncoded.length" [image]="team.imageEncoded"                                                                   [imageWidth]="team.imageWidth" [imageHeight]="team.imageHeight" [viewWidth]="1400" [viewHeight]="600"></image-teamfie>
                <image-teamfie *ngIf="0 == team.imageEncoded.length" [image]="'assets/img/monkey-silhouette-clip-art-monkey-clip-art-free-downloads_310-350.jpeg'" [imageWidth]="310"             [imageHeight]="350"              [viewWidth]="1400" [viewHeight]="600"></image-teamfie>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </span>
</div>
