<div class="container-fuid text-center" *ngIf="modeIsQuiz">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h2>Neem een teamfie</h2>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
                </span>
                <input class="form-control" type="text" [(ngModel)]="teamName" placeholder="kies een team naam"><br />
            </div>
            <br />
            <button type="button" class="btn btn-info" (click)="onClickTakeTeamfie()">Take a teamfie</button><br />
            <br />
            <button *ngIf="imageContentValid" type="button" class="btn btn-info" (click)="onClickSubmit()">Submit</button><br />
            <br />
            <img *ngIf="imageContentValid" [src]="'data:image/JPG;base64,'+ imageContent" width='80%'>
            <br />
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="container-fuid text-center" *ngIf="modeIsBeamer || modeIsMaster">
  <div class="row">
    <div class="col-md-12">
      <h2><b><u>Teamfies</u></b></h2>
    </div>
  </div>
  <div class="row" *ngFor="let team of observableTeamInfo | async">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 alert alert-info">
        <h3>{{team.name}}</h3>
        <img          *ngIf="0 != team.image.length" [src]="'data:image/JPG;base64,'+ team.image" width="100%">
        <image-native *ngIf="0 == team.image.length" source="img/monkey-silhouette-clip-art-monkey-clip-art-free-downloads_310-350.jpeg" height="200"></image-native>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
