<span  *ngIf="dirSet">
    <div class="row" *ngIf="showDirName">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <span class="clickable" (click)="onClickDirName()">
                {{dir.dirName}}:
            </span>
        </div>
    </div>
    <span *ngIf="showSub || !showDirName">
        <div class="row" *ngFor="let subdir of dir.subdir">
            <div class="col-md-1 col-sm-1 col-xs-1" *ngIf="showDirName">
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <questions-images [dir]="subdir" [dirSet]="true" [nbrQuestions]="nbrQuestions" (clickDir)="onClickDir($event)"></questions-images>
            </div>
        </div>
        <div class="row" *ngFor="let image of dir.images">
            <div class="col-md-1 col-sm-1 col-xs-1" *ngIf="showDirName">
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <image-local [source]="image.url" class="clickable" [height]="25" (clickImage)="onClickImage($event)"></image-local> {{image.name}}
                <div class="row" *ngIf="showQuestions===image.url">
                    <div class="col-md-1 col-sm-1 col-xs-1" *ngIf="showDirName">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                        <div *ngFor="let question of questions" class="clickable" (click)="onClickQuestion(question)">
                            vraag {{question + 1}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
</span>
