<div>
    <div [class.filter-is-visible]="!menuClosed" class="filter">
        <div class="filter-block">
            <br />
            <br />
            <br />
            <h4 class="menu-item" (click)="onClickChangeUserName()">Wijzig gebruikersnaam</h4>
            <h4 class="menu-item" (click)="onClickConfigure()">Configureer</h4>
            <h4 class="menu-item" (click)="onClickAbout()">Over</h4>
        </div>
        <a class="close" (click)="toggleMenu()">Close</a>
    </div>
</div>