.menu-item {
  cursor: pointer;
}

/* -------------------------------- 
xfilter 
-------------------------------- */
.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #009BD2;
  z-index: 2;
}
.filter form {
  padding: 70px 20px;
}
.filter .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  background-color: #004BC2;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .filter .close:hover {
  background: #32255f;
}
.filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.filter.filter-is-visible .close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .filter {
    width: 20%;
  }
  .filter form {
    padding: 70px 10%;
  }
}

.filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  /* line-height: 50px; */
  width: 60px;
  /* image replacement */
  overflow: hidden;
  /* text-indent: 100%;
  color: transparent; */
  white-space: nowrap;
  /*background: transparent url("../img/icon-filter.svg") no-repeat center center;
  */z-index: 3;
}
.filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: grey;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .filter-trigger:hover {
    color: #009BA2;
  }
  .filter-trigger.filter-is-visible, .filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}
