<div class="container-fuid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center"><b><u>Sorteer de afbeeldingen</u></b></h2>
    </div>
  </div>
  <div *ngIf="sortImages" class="row">
    <div class="col-md-12">
      <div id="elements" class="text-center">
        <span class="layout" *ngFor="let image of images; let idx = index" make-draggable="{{idx}}" make-droppable (dropped)="onDrop($event, idx)">
          <image-local source="{{image}}" width="-2" height="200"></image-local>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="!sortImages" class="row">
    <div class="col-md-12">
        Resultaten
    </div>
  </div>
</div>
