table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border-bottom: 1px solid black;
    height: 75px;
    text-align: left;
    vertical-align: top;
    padding: 15px;
}

th {
    background-color: #d2d2d2
}

tr:hover {
    background-color: #f5f5f5
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}
