<div class="container-fuid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center"><b><u>Questions</u></b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center"><b><u>Manage</u></b></h3>
      <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-3">
          Number of questions:
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <input class="form-control" type="number" [(ngModel)]="numberOfQuestions" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <button type="button" [disabled]="resetConfirm" class="btn btn-warning" (click)="onClickSetNumberOfQuestionsOne()"    >Configure/Reset</button>
          <button type="button" *ngIf="resetConfirm"      class="btn btn-info"    (click)="onClickSetNumberOfQuestionsCancel()" >Cancel</button>
          <button type="button" *ngIf="resetConfirm"      class="btn btn-danger"  (click)="onClickSetNumberOfQuestionsTwo()"    >Confirm</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-4">
          Points per question:
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <input class="form-control" type="number" [(ngModel)]="pointsPerQuestion" (change)="onPointsPerQuestionChange($event.target.value)" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-4">
          Answering mode:
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <select [(ngModel)]="answeringType">
              <option *ngFor="let option of answeringTypeOptions" [value]="option.name">{{option.name}}</option>
          </select> 
        </div>
      </div>
      <hr />
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="inlineRadioAction" id="inlineRadioSort"   value="sort"   [checked]="modeAnswering"  (click)="onClickRadioAction(true)" > Beantwoorden
          <input class="form-check-input" type="radio" name="inlineRadioAction" id="inlineRadioResult" value="result" [checked]="!modeAnswering" (click)="onClickRadioAction(false)"> Beoordelen
        </label>
      </div>
      <hr />
      <div *ngIf="!modeAnswering" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          Punten in deze ronde:
        </div>
      </div>
      <div *ngFor="let teamQuestionEvaluation of teamQuestionsEvaluation" class="row">
        <div *ngIf="!modeAnswering" class="col-md-1 col-sm-1 col-xs-1">
        </div>
        <div *ngIf="!modeAnswering" class="col-md-10 col-sm-10 col-xs-10 alert alert-success">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
              {{teamQuestionEvaluation.name}}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <h4>
                <span class="label label-primary">
                  {{teamQuestionEvaluation.pointsRound}}
                </span>
              </h4>
            </div>
          </div>
        </div>
        <div *ngIf="!modeAnswering" class="col-md-1 col-sm-1 col-xs-1">
        </div>
      </div>
      <div *ngIf="!modeAnswering" class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
          <button *ngIf="0 != teamQuestionsEvaluation.length" type="button" class="btn btn-success" (click)="onClickSetPoints()">Set round & round to total</button>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
      </div>
      <span *ngIf="modeAnswering">
        Selecteer afbeeldingen:
      </span>
      <div *ngIf="modeAnswering" class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
        <div class="col-md-11 col-sm-11 col-xs-11">
          <questions-images [dir]="imagesAvailable" [dirSet]="imagesAvailableSet" [showDirName]="false" [nbrQuestions]="numberOfQuestions" (clickDir)="onImagesAvailableClick($event)"></questions-images>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      <h3 class="text-center"><b><u>Beamer</u></b></h3>
      <questions-beamer [inMaster]="true" (teamEvaluationsEvt)="onTeamEvaluationsEvt($event)"></questions-beamer>
    </div>
  </div>
</div>
