<div class="container-fuid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><b><u>Vragen</u></b></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="elements" class="text-center">
        <image-local *ngIf="0 == questions.length" source="question-mark.png" [height]="200"></image-local>
        <div *ngFor="let question of questions; let idx = index" class="row">
          <div class="col-md-2 col-sm-2 col-xs-2">
              Vraag {{idx + 1}}:
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <div
              *ngIf = "'Good-Wrong' === answeringType"
              >
              <button 
                type="button" 
                class="btn btn-lg btn-success"
                [class.question-neutral]=" (modeAnswering) && ('good'=== question.answer)"
                [class.display-none]="(!modeAnswering) && ('good'!== question.answer)"
                [disabled]="!modeAnswering" 
                (click)="onClickButtonAnswer(idx, true)" 
                >
                <span *ngIf="modeAnswering">
                  <span aria-hidden="true" class="glyphicon glyphicon-ok"          ></span>
                  Goed
                </span>
                <span *ngIf="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] &&  teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]">
                  <span aria-hidden="true" class="glyphicon glyphicon-thumbs-up"               ></span>
                </span>
                <span *ngIf="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] && !teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]">
                  <span aria-hidden="true" class="glyphicon glyphicon-thumbs-down"             ></span>
                </span>
                <span *ngIf="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && !teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx]">
                  <span aria-hidden="true" class="glyphicon glyphicon-alert        display-none"></span>
                </span>
              </button>
              <button 
                type="button" 
                class="btn btn-lg btn-danger"
                [class.question-neutral]=" (modeAnswering) && ('bad'=== question.answer)"
                [class.display-none]="(!modeAnswering) && ('bad'!== question.answer)"
                [disabled]="!modeAnswering" 
                (click)="onClickButtonAnswer(idx, false)" 
                >
                <span *ngIf="modeAnswering">
                  <span aria-hidden="true" class="glyphicon glyphicon-remove"                  ></span>
                  Fout
                </span>
                <span *ngIf="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] &&  teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]">
                  <span aria-hidden="true" class="glyphicon glyphicon-thumbs-up"               ></span>
                </span>
                <span *ngIf="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] && !teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]">
                  <span aria-hidden="true" class="glyphicon glyphicon-thumbs-down"             ></span>
                </span>
                <span *ngIf="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && !teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx]">
                  <span aria-hidden="true" class="glyphicon glyphicon-alert        display-none"></span>
                </span>
              </button>
              <br />
            </div>
            <input-debounce 
              *ngIf = "'Input' === answeringType"
              [classOk]="   (!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] &&  teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]"
              [classError]="(!modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length) && teamsEvaluations[teamsEvaluationsIdx].evaluationsDone[idx] && !teamsEvaluations[teamsEvaluationsIdx].evaluations[idx]"
              [disabled]="!modeAnswering" 
              [value]="question.answer" 
              (valueEv)="valueChanged(idx, $event)"
              >
            </input-debounce>
            <span 
              *ngIf="(modeAnswering) && (0 != questionsImages.length) && (0 != questionsImages[idx].length)" 
              >
              <image-local [source]="questionsImages[idx]" [height]="200"></image-local>
              <br />
              <br />
            </span>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1">
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="(modeAnswering) && (-1 != teamsEvaluationsIdx) && (0 != teamsEvaluations.length)">
    <div class="col-md-12">
      <div id="score">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2 text-center">
            <h3>
              <span class="label label-primary">
                Resultaat:
              </span>
            </h3>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <h3>
              <span class="label label-primary">
                {{teamsEvaluations[teamsEvaluationsIdx].nbrCorrect}}/{{teamsEvaluations[teamsEvaluationsIdx].nbrEvaluated}}
              </span>
            </h3>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1">
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- ensure the view is scrollable, so that the
       keyboard on a mobile device does not cover
       the bottom question inputs
       -->
  <div class="row">
    <div class="col-md-12 text-center">
      <image-local class="display-none" source="question-mark.png" [height]="200"></image-local>
      <br />
      <image-local class="display-none" source="question-mark.png" [height]="200"></image-local>
      <br />
      <image-local class="display-none" source="question-mark.png" [height]="200"></image-local>
    </div>
  </div>
</div>
