<span *ngIf="isBeamer">
    <questions-beamer></questions-beamer>
</span>
<span *ngIf="isMaster">
    <questions-master></questions-master>
</span>
<span *ngIf="isQuiz">
    <questions></questions>
</span>
