.question-ok {
    border: 5px solid #0c0 !important;
}

.question-waring {
    border: 5px solid darkorange !important;
}

.question-error {
    border: 5px solid #c00 !important;
}

.question-neutral {
    border: 5px solid #000 !important;
}

.evaluation-ok {
    background-color: #060 !important;
}

.evaluation-error {
    background-color: #600 !important;
}

.display-none {
    visibility: hidden !important;
}
