<div>
    <div [class.filter-is-visible]="!menuClosed" class="filter">
        <div class="filter-block">
            <br />
            <br />
            <span class="menu-item" (click)="onClickChangeUserName()">Wijzig gebruikersnaam</span><br />
            <span class="menu-item" (click)="onClickConfigure()">Configureer</span><br />
            <span class="menu-item" (click)="onClickAbout()">Over</span><br />
        </div>
        <a class="close" (click)="toggleMenu()">Close</a>
    </div>
</div>