<div class="container-fuid" *ngIf="1 == nbrPerRow">
    <span *ngFor="let team of teamsInfo">
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 alert alert-success">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <image-teamfie *ngIf="0 != team.imageEncoded.length"              [image]="team.imageEncoded"                                                            [imageWidth]="team.imageWidth" [imageHeight]="team.imageHeight" [viewWidth]="100" [viewHeight]="100"></image-teamfie>
                        <image-teamfie *ngIf="0 == team.imageEncoded.length && showDummy" [image]="'img/monkey-silhouette-clip-art-monkey-clip-art-free-downloads_310-350.jpeg'" [imageWidth]="310"             [imageHeight]="350"              [viewWidth]="100" [viewHeight]="100"></image-teamfie>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <h2>
                            <b>{{team.name}}</b>
                        </h2>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <h2>
                            <span class="label label-primary">
                                <span *ngIf="total">
                                    {{team.pointsTotal}}
                                </span>
                                <span *ngIf="!total">
                                    {{team.pointsRound}}
                                </span>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
            </div>
        </div>
    </span>
</div>

<div class="container-fuid" *ngIf="3 == nbrPerRow">
    <div class="row">
        <span *ngFor="let team of teamsInfo">
            <div class="col-md-4 alert alert-success">
                <b>{{team.name}}</b>
                <h2>
                    <span class="label label-primary">
                        <span *ngIf="total">
                            {{team.pointsTotal}}
                        </span>
                        <span *ngIf="!total">
                            {{team.pointsRound}}
                        </span>
                    </span>
                </h2>
            </div>
        </span>
    </div>
</div>

<div class="container-fuid" *ngIf="4 == nbrPerRow">
    <div class="row">
        <span *ngFor="let team of teamsInfo">
            <div class="col-md-3 alert alert-success">
                <b>{{team.name}}</b>
                <h2>
                    <span class="label label-primary">
                        <span *ngIf="total">
                            {{team.pointsTotal}}
                        </span>
                        <span *ngIf="!total">
                            {{team.pointsRound}}
                        </span>
                    </span>
                </h2>
            </div>
        </span>
    </div>
</div>
