<span *ngFor="let team of teamsInfo">
  <div class="row alert" [class.alert-success]="!alert" [class.alert-danger]="alert">
    <team-info [edit]="editTeams" [team]="team"></team-info>
  </div>
  <user-info-list [teamsInfoAll]="teamsInfoAll" [usersInfo]="usersInfo" [team]="team" [alert]="alert" [edit]="editUsers"></user-info-list>
</span>
<span *ngIf="editTeams">
  <div class="row alert alert-info">
    <div class="col-md-7">
      <input #textbox type="text" [(ngModel)]="newTeamName" required> 
    </div>
    <div class="col-md-5">
      <button type="button" class="btn btn-success" (click)="onClickAddTeam()" [class.disabled]="0===newTeamName.length">Add</button>
      <button type="button" class="btn btn-warning" (click)="newTeamName=''">Clear</button>
    </div>
  </div>
</span>
