<div class="text-center">
    <span *ngIf="prevSequenceNbr === 0">
        <image-local source="loading.gif" height="150"></image-local>
    </span>
    <span *ngIf="prevSequenceNbr !== 0">
        <span *ngIf="modeIsBeamer || modeIsMaster">
            <scoreboard-list [teamsInfo]="observableTeamInfo | async | simpleButtonTeamPointsSort:false" [total]="false" [nbrPerRow]="3"></scoreboard-list>
        </span>
        <span *ngIf="modeIsQuiz">
            <img [src]="imgPush"  height="150" *ngIf="!wait && !go && !wrong && !good" (click)="onPush()" alt="" />
            <img [src]="imgGood"  height="150" *ngIf="good"                                               alt="" />
            <img [src]="imgWrong" height="150" *ngIf="wrong"                                              alt="" />
            <img [src]="imgGo"    height="150" *ngIf="go"                              (click)="onPush()" alt="" />
            <img [src]="imgWait"  height="150" *ngIf="wait"                            (click)="onPush()" alt="" />
        </span>
        <div class="text-left">
            <simple-button-data [data]="observableInfo | async"></simple-button-data>
        </div>
    </span>
</div>
