<div class="container-fuid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center"><b><u>Team configuration</u></b></h2>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-5">
      <h3 class="text-center"><b><u>Teams</u></b></h3>
      <team-info-list [teamsInfo]="teamsInfo"></team-info-list>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
      <h3 class="text-center"><b><u>Uses</u></b></h3>
      <team-info-list [teamsInfo]="teamsInfoNone" [teamsInfoAll]="teamsInfo" [usersInfo]="usersInfo" [edit]="false" [alert]="true" ></team-info-list>
      <team-info-list [teamsInfo]="teamsInfo"     [teamsInfoAll]="teamsInfo" [usersInfo]="usersInfo" [edit]="false" [alert]="false"></team-info-list>
    </div>
  </div>
