<div class="container-fuid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center"><b><u>Team configuration</u></b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center"><b><u>Teams</u></b></h3>
      <br />
      <div class="row alert alert-info">
        <div class="col-md-8">
          <input #textbox type="text" [(ngModel)]="newTeamName" required> 
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-success" (click)="onClickAddTeam()" [class.disabled]="0===newTeamName.length">Add</button>
          <button type="button" class="btn btn-warning" (click)="newTeamName=''">Clear</button>
        </div>
      </div>
      <team-info-list [data]="observableTeamInfo | async"></team-info-list>
    </div>
    <div class="col-md-6">
      <h3 class="text-center"><b><u>Uses</u></b></h3>
    </div>
  </div>
</div>
