<div class="container">
  <div class="row">
    <div class="col-sm-4 text-left">
    </div>
    <div class="col-sm-4 text-center">
    </div>
    <div class="col-sm-4 text-right">
        <span                    class="glyphicon glyphicon-cloud error"  aria-hidden="true"></span>
        <span *ngIf="connected"  class="glyphicon glyphicon-signal ok"    aria-hidden="true"></span>
        <span *ngIf="!connected" class="glyphicon glyphicon-signal error" aria-hidden="true"></span>
    </div>
  </div>
</div>
<hr />