<div class="text-center">
    <h2>Welkom {{userName}}</h2>
    <image-native source="assets/img/dialog-question-128-128.png" width="128px"></image-native><br />
    <br />
    <image-native source="assets/img/logo.png" width="128px"></image-native><br />
</div>
