<div class="text-xs-center">
    <span *ngIf="prevSequenceNbr === 0">
        <img src="./images/loading.gif" height="150" />
    </span>
    <span *ngIf="prevSequenceNbr !== 0">
        <img src="./images/push.gif"  height="150" width="150" *ngIf="!pushed && !wrong && !good"                 (click)="onPush()" />
        <img src="./images/wait.gif"  height="150" width="150" *ngIf="pushed  && !pushedFirst && !wrong && !good" (click)="onPush()" />
        <img src="./images/go.gif"    height="150" width="150" *ngIf="pushed  &&  pushedFirst && !wrong && !good" />
        <img src="./images/wrong.png" height="150" width="150" *ngIf="wrong"                                      />
        <img src="./images/good.gif"  height="150" width="150" *ngIf="good"                                       />
        <div class="text-xs-left">
            <simple-button-data [data]="observableInfo | async"></simple-button-data>
        </div>
    </span>
</div>

<!-- ensure images are always in the DOM to avoid loading them over and over again
     (wich seems to be happening in FireFox otherwise)
     -->
<div class="preload">
    <img src="./images/loading.gif" />
    <img src="./images/push.gif"    />
    <img src="./images/wait.gif"    />
    <img src="./images/go.gif"      />
    <img src="./images/wrong.png"   />
    <img src="./images/good.gif"    />
</div>    
