<div class="container">
  <div class="row">
      <h5>
        Deze applicatie is gemaakt met open-source software.<br />
        De volledige bron code kan je vinden op https://github.com/ivo1971/olapp/.<br />
        <br />
        De client gebruikt:
        <ul>
          <li>Angular 2</li>
          <li>Bootstrap</li>
          <li>RxJs</li>
          <li>Cordova</li>
        </ul>
        <br />
        De websockets server gebruikt:
        <ul>
          <li>Boost</li>
          <li>Curl</li>
          <li>nlohmann Seasocks</li>
        </ul>
        <br />
        De REST server - gehost op Heroku - gebruikt:
        <ul>
          <li>node js</li>
          <li>npm</li>
        </ul>
      </h5>
  </div>  
  <div class="row">
    <div class="col-xs-12 text-center">
        <button class="btn btn-warning" (click)="onBack()">Terug</button>
    </div>
  </div>
</div>   