<div class="container-fuid" *ngIf="1 == nbrPerRow">
    <span *ngFor="let team of teamsInfo">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 alert alert-success">
                <div class="row">
                    <div class="col-md-3">
                        <img          *ngIf="(team.image)  && (0 != team.image.length)"                [src]="'data:image/JPG;base64,'+ team.image" width="100%">
                        <image-native *ngIf="(!team.image) || (0 == team.image.length) && showDummy" source="img/monkey-silhouette-clip-art-monkey-clip-art-free-downloads_310-350.jpeg" width="100%"></image-native>
                    </div>
                    <div class="col-md-7">
                        <h2>
                            <b>{{team.name}}</b>
                        </h2>
                    </div>
                    <div class="col-md-2">
                        <h2>
                            <span class="label label-primary">
                                <span *ngIf="total">
                                    {{team.pointsTotal}}
                                </span>
                                <span *ngIf="!total">
                                    {{team.pointsRound}}
                                </span>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </span>
</div>

<div class="container-fuid" *ngIf="3 == nbrPerRow">
    <div class="row">
        <span *ngFor="let team of teamsInfo">
            <div class="col-md-4 alert alert-success">
                <b>{{team.name}}</b>
                <h2>
                    <span class="label label-primary">
                        <span *ngIf="total">
                            {{team.pointsTotal}}
                        </span>
                        <span *ngIf="!total">
                            {{team.pointsRound}}
                        </span>
                    </span>
                </h2>
            </div>
        </span>
    </div>
</div>

<div class="container-fuid" *ngIf="4 == nbrPerRow">
    <div class="row">
        <span *ngFor="let team of teamsInfo">
            <div class="col-md-3 alert alert-success">
                <b>{{team.name}}</b>
                <h2>
                    <span class="label label-primary">
                        <span *ngIf="total">
                            {{team.pointsTotal}}
                        </span>
                        <span *ngIf="!total">
                            {{team.pointsRound}}
                        </span>
                    </span>
                </h2>
            </div>
        </span>
    </div>
</div>
